@model Neflis.Models.ViewModels.RestablecerPasswordViewModel

<h2>Restablecer contraseña</h2>

<form asp-action="RestablecerPassword" method="post">
    <input type="hidden" name="correo" value="@ViewBag.Correo" />
    <input type="hidden" asp-for="Token" />

    <div class="mb-3">
        <label asp-for="NuevoPassword"></label>
        <input asp-for="NuevoPassword" class="form-control" />
        <span asp-validation-for="NuevoPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmarPassword"></label>
        <input asp-for="ConfirmarPassword" class="form-control" />
        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar nueva contraseña</button>
</form>
